/* base.css */

/* Reset & 기본 설정 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  width: 100%;
  max-width: 2700px;
  min-height: 100vh;
  background: #eeeded;
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  color: #1b1b1b;
  margin: auto;
  overflow: hidden;
}

body.lock-scroll {
  overflow: hidden;
  height: 100vh;
  overscroll-behavior: contain;
}

/* 공통 링크 스타일 */
a {
  text-decoration: none;
  color: black;
  margin-left: 1em;
}

a:hover {
  text-decoration: underline;
}

a img.icon {
  display: inline-block;
  height: 1em;
  margin: 0 0 -0.1em 0.3em;
}
